:root {
    --basic-green: rgba(0, 136, 122, 1);
    --basic-white: rgba(252, 251, 254, 1);
    --blue-timer-active: rgba(159, 191, 241, 1);
    --dark-blue-bg: rgba(68, 129, 235, 1);
    --green-btn: rgba(34, 201, 65, 1);
    --green-btn: rgba(38, 143, 31, 1);
    --grey-btn-disabled: rgba(235, 232, 232, 1);
    --light-blue-bg: rgba(211, 227, 252, 1);
    --navy-text: rgba(21, 44, 122, 1);
    --red-btn: rgba(253, 96, 90, 1);
    --red-msg: rgba(216, 27, 27, 1);
    --transition-info: 0.25s linear;
    --white-btn-disabled: rgba(253, 246, 246, 1);
    --yellow-btn: rgba(255, 187, 46, 1);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: var(--basic-white);
    font-family: "Montserrat", sans-serif;
}

.tasks {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    text-align: center;
}

.tasks__heading {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    max-width: 1440px;
    text-align: left;
    width: 90%;
}

.form {
    max-width: 1440px;
    padding-top: 0.5rem;
    width: 90%;
}

.form__section {
    display: flex;
    flex-direction: column;
}

.form__container {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

.form__wrapper--field {
    width: 75%;
}

.form__field {
    background: inherit;
    border: none;
    border-bottom: 1px solid var(--basic-green);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    outline: none;
    padding: 5px;
    width: 100%;
}

.form__field-border {
    background: var(--basic-green);
    display: block;
    height: 2px;
    transition: width var(--transition-info);
    width: 0;
}

.form__field:focus + .form__field-border {
    width: 100%;
}

.form__wrapper--submit {
    width: 20%;
}

.form__submit {
    background: var(--basic-green);
    border-radius: 25px;
    border: none;
    color: var(--basic-white);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    height: 100%;
    letter-spacing: 0.1rem;
    outline: none;
    width: 100%;
}

.form__placeholder {
    align-items: center;
    display: flex;
    min-height: 3rem;
    padding: 0.8rem 0;
}

.form__err {
    color: var(--red-msg);
    font-size: 0.8rem;
}

.form__info {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 100%;
}

.tasks__wrapper {
    background: var(--light-blue-bg);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
    text-align: left;
    width: 90%;
}

.tasks__wrapper::before {
    background-size: cover;
    content: "";
    display: block;
    height: 40px;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    width: 40px;
}

.tasks__wrapper--progress {
    align-items: center;
    background: var(--dark-blue-bg);
    border-radius: 0;
    border: none;
    color: var(--basic-white);
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 2rem 5%;
    text-align: center;
    width: 100%;
}

.tasks__running {
    align-items: center;
    background: var(--basic-white);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--navy-text);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    max-width: 500px;
}

.tasks__running > .tasks__title {
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.tasks__running > .tasks__footer {
    justify-content: space-between;
    width: 85px;
}

.tasks__running > .tasks__footer > .tasks__btn {
    margin: 0;
}

.tasks__timer--active {
    letter-spacing: 0.15rem;
}

.tasks__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tasks__wrapper--scheduled,
.tasks__wrapper--completed {
    align-self: flex-start;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.tasks__wrapper--stopped {
    align-self: flex-end;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    text-align: right;
}

.tasks__wrapper--scheduled::before {
    background-image: url("../img/scheduled-tasks-img.png");
    right: 10px;
}

.tasks__wrapper--stopped::before {
    background-image: url("../img/stopped-tasks-img.png");
    left: 10px;
}

.tasks__wrapper--completed::before {
    background-image: url("../img/completed-tasks-img.png");
    right: 10px;
}

.tasks__subheading {
    margin-bottom: 2rem;
    position: relative;
}

.tasks__subheading::after {
    background: var(--basic-white);
    bottom: -15px;
    content: "";
    display: block;
    height: 1px;
    left: 25%;
    position: absolute;
    width: 50%;
}

.tasks__subtitle {
    color: var(--navy-text);
    letter-spacing: 0.1rem;
    padding: 1rem 1rem 0 1rem;
}

.tasks__subtitle--progress {
    border-bottom: none;
    color: var(--basic-white);
    font-size: 2rem;
    letter-spacing: 0.15rem;
    padding: 0;
}

.tasks__description {
    letter-spacing: 0.1rem;
    margin-top: 0.25rem;
}

.tasks__msg {
    font-size: 0.8rem;
    font-style: italic;
    letter-spacing: 0.2rem;
}

.tasks__list {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 3rem;
    padding: 1rem;
    row-gap: 1rem;
}

.tasks__list--stop {
    text-align: left;
}

.tasks__title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tasks__name {
    margin-bottom: 0.25rem;
}

.tasks__timer {
    color: var(--blue-timer-active);
}

.tasks__item {
    background: var(--basic-white);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.75rem;
}

.tasks__footer {
    display: flex;
    justify-content: flex-end;
}

.tasks__btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
}

.tasks__icon {
    align-items: center;
    border-radius: 50%;
    color: var(--basic-white);
    display: flex;
    height: 35px;
    justify-content: center;
    text-align: center;
    width: 35px;
}

.tasks__icon--complete {
    background: var(--green-btn);
}

.tasks__icon--pause {
    background: var(--yellow-btn);
}

.tasks__icon--play {
    background: var(--dark-blue-bg);
}

.tasks__icon--restore {
    background: var(--green-btn);
}

.tasks__icon--delete {
    background: var(--red-btn);
}

.tasks__btn:disabled > .tasks__icon--play {
    background: var(--grey-btn-disabled);
    color: var(--white-btn-disabled);
    cursor: not-allowed;
}

.tasks__highlight {
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
    font-weight: bold;
}

.tasks__highlight--banner {
    font-weight: bold;
    letter-spacing: 0.25rem;
}

.tasks__btn--invisible {
    display: none;
}

@media only screen and (min-width: 768px) {
    .tasks__heading {
        font-size: 2.4rem;
    }

    .form__field {
        font-size: 1.4rem;
    }

    .form__submit {
        font-size: 1.4rem;
    }

    .form__placeholder {
        min-height: 3.5rem;
    }

    .form__err {
        font-size: 1rem;
    }

    .form__info {
        font-size: 1.2rem;
    }

    .tasks__subtitle--progress {
        font-size: 2.2rem;
    }

    .tasks__running {
        width: 60%;
    }

    .tasks__msg {
        font-size: 1rem;
    }

    .tasks__subheading::after {
        left: 10%;
        width: 80%;
    }
}

@media only screen and (min-width: 960px) {
    .form__submit {
        background-color: var(--basic-white);
        border: 3px solid var(--basic-green);
        color: var(--basic-green);
        transition: box-shadow var(--transition-info), color var(--transition-info);
    }

    .form__submit:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--basic-green);
        color: var(--basic-white);
    }

    .tasks__wrapper--progress {
        margin-bottom: 0;
    }

    .tasks__running {
        max-width: 540px;
        width: 50%;
    }

    .tasks__wrapper {
        align-self: auto;
        margin-top: 0;
    }

    .tasks__wrapper--stopped {
        margin: 0 7px;
        text-align: left;
    }

    .tasks__wrapper--stopped::before {
        left: auto;
        right: 10px;
    }

    .tasks__wrapper--scheduled {
        margin-right: 7px;
    }

    .tasks__wrapper--completed {
        margin-left: 7px;
    }

    .tasks__wrapper--scheduled,
    .tasks__wrapper--stopped,
    .tasks__wrapper--completed {
        border-radius: 16px;
        min-height: 15rem;
    }

    .tasks__section {
        align-items: flex-start;
        flex-direction: row;
        max-width: 1440px;
        padding-top: 3rem;
        width: 95%;
    }

    .tasks__icon {
        background: var(--basic-white);
        transition: box-shadow var(--transition-info), color var(--transition-info), transform var(--transition-info);
    }

    .tasks__icon:hover {
        color: var(--basic-white);
        transform: scale(1.2);
    }

    .tasks__icon--complete {
        border: 2px solid var(--green-btn);
        color: var(--green-btn);
    }

    .tasks__icon--complete:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--green-btn);
    }

    .tasks__icon--pause {
        border: 2px solid var(--yellow-btn);
        color: var(--yellow-btn);
    }

    .tasks__icon--pause:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--yellow-btn);
    }

    .tasks__icon--play {
        border: 2px solid var(--dark-blue-bg);
        color: var(--dark-blue-bg);
    }

    .tasks__icon--play:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--dark-blue-bg);
    }

    .tasks__icon--restore {
        border: 2px solid var(--green-btn);
        color: var(--green-btn);
    }

    .tasks__icon--restore:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--green-btn);
    }

    .tasks__icon--delete {
        border: 2px solid var(--red-btn);
        color: var(--red-btn);
    }

    .tasks__icon--delete:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--red-btn);
    }

    .tasks__btn:disabled > .tasks__icon--play {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        transform: none;
    }
}
